body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 50px;

}
.nameHighlight{
    color: #e34c26;
}
.half-width img{
    width: 100%;
}
.half-width{
    width: 40%;
    margin: 5%;
    float: left;
}